<!-- This file allows for displaying and editing all supplemental options
It is injected into the jquery UI modal as a response from the server-->
<% if @is_meta_alert == 0 %>
<h1>Edit supplemental tags for Alert <%= @display.meta_alert_id %></h1><pre>
<% else %>
<h1>Edit supplemental tags for Alert <%= @display.id %></h1><pre>
<% end  %>

<%= best_in_place @display, :ignored , type: :checkbox, collection: ["[  ]", "[x]"] %> Ignored
<%= best_in_place @display, :dead , type: :checkbox, collection: ["[  ]", "[x]"] %> Dead
<%= best_in_place @display, :inapplicable_environment , type: :checkbox, collection: ["[  ]", "[x]"] %> Inapplicable Environment
Dangerous Construct: <%= best_in_place @display, :dangerous_construct , type: :select, collection: [[0,"[No]"],[1,"[Low Risk]"],[2,"[Medium Risk]"],[3,"[High Risk]"]] %></pre>
<%= content_tag :div, nil, id: "editing_id_container", data: {editing_id: @display.id} %>
<script>
$(".best_in_place").on("ajax:success",function(event, data, status, xhr){
  var attr = event.target.dataset.bipAttribute;
  if (!(attr === "ignored" || attr === "dead" || attr === "inapplicable_environment" || attr==="dangerous_construct")){
    return;
  }
  var new_val = event.target.firstChild.data;

  var target_id = $("#editing_id_container").data("editing-id");
  var edit_button = $('a[href="/diagnostics/'+String(target_id)+'"]');
  var supp_cell = edit_button.parent();
  old_content = supp_cell.html();

  new_content = "";
  if ((attr === "ignored" && new_val === "[x]") || (old_content.indexOf("Ignored")>=0 && attr !== "ignored")){
    new_content += "Ignored <br>";
  }
  if ((attr === "dead" && new_val === "[x]") || (old_content.indexOf("Dead")>=0 && attr !== "dead")){
    new_content += "Dead <br>";
  }
  if ((attr === "inapplicable_environment" && new_val === "[x]") || (old_content.indexOf("Inapplicable")>=0 && attr !== "inapplicable_environment")){
    new_content += "Inapplicable Env. <br>";
  }

  if ((attr === "dangerous_construct")){
    var dc_map = {};
    dc_map["[No]"]="";
    dc_map["[Low Risk]"]="Dangerous Construct - Low <br>";
    dc_map["[Medium Risk]"]="Dangerous Construct - Med <br>";
    dc_map["[High Risk]"]="Dangerous Construct - High <br>";
    new_content += (dc_map[new_val]);
  }
  else if(old_content.indexOf("Low")>=0){
    new_content += "Dangerous Construct - Low <br>";
  }
  else if(old_content.indexOf("Med")>=0){
    new_content += "Dangerous Construct - Med <br>";
  }
  else if(old_content.indexOf("High")>=0){
    new_content += "Dangerous Construct - High <br>";
  }

  new_content += '<a href="/diagnostics/'+target_id+'" data-remote="true">Edit</a>';
  supp_cell.html(new_content);

});
</script>

