<!-- This file contains the upper half of web page. This is just the template for the table, and the
actual diagnostics are displayed within fastdiagnostics -->
<%= form_tag("/diagnostics/update", :remote => true, :id => "massUpdateForm") do %>
<!-- Here is the mass update form -->
    <div id="massUpdate">
        <%= label_tag(:sort_column, "Set all selected to: ") %>
        <%= select_tag(:mass_update_verdict, options_for_select([['--',-1],['Unknown',0],['Complex',1],['False',2],['Dependent',3],['True',4]]), :class => "mass") %>
        <%= select_tag(:flag, options_for_select([['--',-1],['Not flagged',false],['Flagged',true]]), :class => "mass") %>
        <%= submit_tag("Update", :onclick => "return validateMassUpdate();") %>
    </div>
    <div id="diag_scroll">
    <table id="diagnostics_table" class="diag_table">
        <!-- and here is the main table of diagnostics -->
      <thead><tr>
        <th><h3>
            <input type="checkbox" id="selectAllCheckboxes">
        </h3></th>
       <th><h3> ID </h3></th>
        <th><h3> Flag </h3></th>
        <th><h3> Verdict </h3></th>
        <th><h3> Supplemental </h3></th>
  	<th><h3> Notes </h3></th>
        <th><h3> Previous </h3></th>
        <th><h3> Path </h3></th>
        <th><h3> Line </h3></th>
        <th><h3> Message </h3></th>
        <th><h3> Checker </h3></th>
        <th><h3> Tool </h3></th>
        <th><h3> Condition </h3></th>
        <th><h3> Title </h3></th>
	<th><h3> Confidence </h3></th>
	<th><h3> Alert Pri </h3></th>
        <th><h3> Sev </h3></th>
        <th><h3> Lik </h3></th>
        <th><h3> Rem </h3></th>
        <th><h3> Pri </h3></th>
        <th><h3> Lev </h3></th>
	<th><h3> CWE_Lik </h3></th>	
      </tr></thead>
      
  <tbody id="diagsTableBody">
  <!-- Rows in the fast or fused diagnostics table will be rendered here -->
  </tbody>
     
    </table>
        
    </div>
    <!-- Uncomment to include pagination links at the bottom as well -->
    <!--%= will_paginate @fastDiags, :renderer => DiagnosticsHelper::LinkRenderer %-->

<% end %>
<div id="target">
</div>
