<!-- This file outputs all the diagnostics as table rows -->
<!-- This file is rendered within the _diagsTable partial -->
<%  @fastDiagIds.each do |id| %>
<tr id="<%= $diagsHash[id][:id] %>" class="<%= $diagsHash[id][:meta_alert_id] %>">
<td class="selectDiag"><input type="checkbox" class="selectDiag" name="selectedDiags[]" value="<%= $diagsHash[id][:id] %>"></td>

<!--diagnostic id-->
<%     [:id].each do |col| %>
<%=       content_tag(:td, content_tag(:div, class: col) do %>
<span>
<%=         getContentFast(col, $diagsHash[id]) %>
</span>
<%        end, class: col) %>
<%      end %>   

<!--flag-->
<%     [:flag].each do |col| %>
<%=       content_tag(:td, content_tag(:div, class: col) do %>
<%= best_in_place $diagsHash[id], :flag, as: :checkbox, collection:  ["[ ]", "[x]"]  %>
<%        end, class: col) %>
<%      end %> 

<!--verdict-->
<%     [:verdict].each do |col| %>
<%=       content_tag(:td, content_tag(:div, class: col) do %>
<%=         getContentFast(col, $diagsHash[id]) %>
<%        end, class: col) %>
<%      end %>

<!--supplemental-->
<%     [:supplemental].each do |col| %>
<%=       content_tag(:td, content_tag(:div, class: col) do %>
<span>
<%=         getContentFast(col, $diagsHash[id]) %>
</span>
<%        end, class: col) %>
<%      end %>

<!--notes-->
<%     [:notes].each do |col| %>
<td>
<div class="<%= col %>">
<%= best_in_place $diagsHash[id], :notes, type: :textarea %>
</div>
</td> 
<%      end %>  <!--end do-->


<%     [:previous, :path,
        :line, :message, :checker, :tool, :rule, :title, :confidence,
        :alert_priority, :severity, :liklihood, :remediation, :priority, 
        :level, :cwe_likelihood].each do |col| %>
<%=       content_tag(:td, content_tag(:div, class: col) do %>
<%=         getContentFast(col, $diagsHash[id]) %>
<%        end, class: col) %>
<%      end %>



</tr>
<%  end %>

