<%
  # locals via render override class variable
  if local_assigns[:modal].nil?
    modal = @modal.present?
  end
  if local_assigns[:disable_lang_select].nil?
    disable_lang_select = @disable_lang_select.present?
  end
  path_params = {
    project_id: @project.present? ? @project.id : nil,
    disable_lang_select: disable_lang_select || nil,
    modal: modal || nil,
  }
%>
<ul class="nav nav-pills">
  <% if (@project.present? and disable_lang_select.blank?) or (@scaife_active and @languages_available.present?) %>
    <% if not (@scaife_active and @languages_available.present?) %>
      <% # only a single entry, don't do dropdown %>
      <li><%= link_to "Languages", language_select_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
    <% else %>
      <li id="lang-tab" class="dropdown">
        <a id="lang-tab-link" class="dropdown-toggle" data-toggle="dropdown" href="#">Languages
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% if modal %>
            <% if @project.present? and not disable_lang_select %>
              <li><%= link_to "Select", language_select_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
            <% end %>
            <% if @scaife_active and @languages_available.present? %>
              <li><%= link_to "Upload", language_upload_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
              <li><%= link_to "Map", language_map_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
            <% end %>
          <% else %>
            <% if @project.present? and disable_lang_select.blank? %>
              <li><%= link_to "Select", language_select_path(path_params) %></li>
            <% end %>
            <% if @scaife_active and @languages_available.present? %>
              <li><%= link_to "Upload", language_upload_path(path_params) %></li>
              <li><%= link_to "Map", language_map_path(path_params) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
  <% if @project.present? or (@scaife_active and @taxonomies_available.present?) %>
    <%  if not (@scaife_active and @taxonomies_available.present?) %>
      <% # only a single entry, don't do dropdown %>
      <li><%= link_to "Taxonomies", taxonomy_select_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
    <% else %>
      <li id="taxo-tab" class="dropdown">
        <a id="taxo-tab-link" class="dropdown-toggle" data-toggle="dropdown" href="#">Taxonomies
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% if modal %>
            <% if @project.present? %>
              <li><%= link_to "Select", taxonomy_select_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
            <% end %>
            <% if @scaife_active and @taxonomies_available.present? %>
              <li><%= link_to "Upload", taxonomy_upload_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
              <li><%= link_to "Map", taxonomy_map_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
            <% end %>
          <% else %>
            <% if @project.present? %>
              <li><%= link_to "Select", taxonomy_select_path(path_params) %></li>
            <% end %>
            <% if @scaife_active and @taxonomies_available.present? %>
              <li><%= link_to "Upload", taxonomy_upload_path(path_params) %></li>
              <li><%= link_to "Map", taxonomy_map_path(path_params) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
  <% if @scaife_active and @tools_available.present? %>
    <li id="tool-tab" class="dropdown">
      <a id="tool-tab-link" class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if modal %>
          <li><%= link_to "Upload", tool_upload_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
          <li><%= link_to "Map", tool_map_path(path_params), remote: true, "data-toggle" => "modal", "data-target" => "#scaife-integration-modal" %></li>
        <% else %>
          <li><%= link_to "Upload", tool_upload_path(path_params) %></li>
          <li><%= link_to "Map", tool_map_path(path_params) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
