<%
  # locals via render override class variable
  if local_assigns[:modal].present?
    @modal = true
  end
  path_params = {
    project_id: @project.present? ? @project.id : nil,
    disable_lang_select: @enable_lang_select.blank? || nil,
    disable_tool_select: @enable_tool_select.blank? || nil,
    modal: @modal || nil,
  }
%>
<ul class="nav nav-tabs">
  <% if @debug.present? %>
    <li id="home-tab"><%= link_to "Home", "/scaife_integration", remote: true, id: "scaife-integration-tab-link", "data-target" => "#scaife-integration-content" %></li>
  <% end %>
  <% if @enable_lang_select or @enable_lang_upload %>
    <li id="lang-tab" class="dropdown">
      <a id="lang-tab-link" class="dropdown-toggle" data-toggle="dropdown" href="#">Languages
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if @enable_lang_select %>
          <li><%= link_to "Select", language_select_path(path_params), remote: true, id: "lang-select-link", "data-target" => "#scaife-integration" %></li>
        <% end %>
        <% if @enable_lang_upload %>
          <li><%= link_to "Upload", language_upload_path(path_params), remote: true, id: "lang-upload-link", "data-target" => "#scaife-integration" %></li>
          <li><%= link_to "Map", language_map_path(path_params), remote: true, id: "lang-map-link", "data-target" => "#scaife-integration" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if @enable_taxo_select or @enable_taxo_upload %>
    <li id="taxo-tab" class="dropdown">
      <a id="taxo-tab-link" class="dropdown-toggle" data-toggle="dropdown" href="#">Taxonomies
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if @enable_taxo_select %>
          <li><%= link_to "Select", taxonomy_select_path(path_params), remote: true, id: "taxo-select-link", "data-target" => "#scaife-integration" %></li>
        <% end %>
        <% if @enable_taxo_upload %>
          <li><%= link_to "Upload", taxonomy_upload_path(path_params), remote: true, id: "taxo-upload-link", "data-target" => "#scaife-integration" %></li>
          <li><%= link_to "Map", taxonomy_map_path(path_params), remote: true, id: "taxo-map-link", "data-target" => "#scaife-integration" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if @enable_tool_select or @enable_tool_upload %>
    <li id="tool-tab" class="dropdown">
      <a id="tool-tab-link" class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if @enable_tool_select %>
          <li><%= link_to "Select", tool_select_path(path_params), remote: true, id: "taxo-select-link", "data-target" => "#scaife-integration" %></li>
        <% end %>
        <% if @enable_tool_upload %>
          <li><%= link_to "Upload", tool_upload_path(path_params), remote: true, id: "tool-upload-link", "data-target" => "#scaife-integration" %></li>
          <li><%= link_to "Map", tool_map_path(path_params), remote: true, id: "tool-map-link", "data-target" => "#scaife-integration" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
