<!-- This is the main page template -->
<!DOCTYPE html>
<html>
<head>
  <title>Scale</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>  
</head>
<body>
  <%= render 'layouts/header.html.erb' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> 

  <div class="container main-container">
    <%= yield %>
  </div>
  <% #render 'layouts/footer.html.erb' %>

  <!-- <%= debug(params) if Rails.env.development? %> -->
</body>
</html>
