<!-- This form allows for the creation of a new diagnostic, referred to as a "display" of a scale diagnostic -->
<h1>Create a new diagnostic:</h1>

<!-- Show any errors, if there are any -->
<% if @display.errors.any? %>
  <% @display.errors.each do |attr, msg| %>
    <%= attr %> <%= msg %><br>
  <% end %>
<% end %>

<!-- This is the form for creating a new diagnostic -->
<%= form_for(@display) do |f| %> 
  <div class="create-display-form">
    <%= f.label(:verdict, "verdict: ") %>  
    <%= f.select(:verdict, options_for_select([['Unknown',0],['Complex',1],['False',2],['Dependent',3],['True',4]])) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:dangerous_construct, "dangerous_construct: ") %>  
    <%= f.select(:dangerous_construct, options_for_select([['No',0],['Low Risk',1],['Medium Risk',2],['High Risk',3]])) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:ignored, "ignored: ") %>  
    <%= f.select(:ignored, options_for_select([['No',0],['Yes',1]])) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:dead, "dead: ") %>  
    <%= f.select(:dead, options_for_select([['No',0],['Yes',1]])) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:inapplicable_environment, "inapplicable_environment: ") %>  
    <%= f.select(:inapplicable_environment, options_for_select([['No',0],['Yes',1]])) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:previous, "previous: ") %>  
    <%= f.select(:previous, options_for_select([['Unknown',0],['Complex',1],['False',2],['Dependent',3],['True',4]])) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:meta_alert_id, "meta alert id: ") %>
    <%= f.number_field(:meta_alert_id, value: "#{@meta_alert_id}", required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:diagnostic_id, "diagnostic id: ") %>
    <%= f.number_field(:diagnostic_id, value: "#{@diagnostic_id}", required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:path, "path: ") %>
    <%= f.text_field(:path, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:line, "line: ") %>
    <%= f.number_field(:line, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:message, "message: ") %>
    <%= f.text_field(:message, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:checker, "checker: ") %>
    <%= f.text_field(:checker, value: "manual", required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:tool, "tool: ") %>
    <%= f.text_field(:tool, value: "manual", required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:rule, "rule: ") %>
    <%= f.text_field(:rule, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:title, "title: ") %>
    <%= f.text_field(:title, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:severity, "severity: ") %>
    <%= f.number_field(:severity, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:liklihood, "likelihood: ") %>
    <%= f.number_field(:liklihood, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:remediation, "remediation: ") %>
    <%= f.number_field(:remediation, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:priority, "priority: ") %>
    <%= f.number_field(:priority, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:level, "level: ") %>
    <%= f.number_field(:level, required: true) %>
  </div>
  <div class="create-display-form">
    <%= f.label(:cwe_likelihood, "cwe_likelihood: ") %>
    <%= f.text_field(:cwe_likelihood, required: true) %>
  </div> 
  <div class="create-display-form">
    <%= f.label(:notes, "notes: ") %>
    <%= f.text_field(:notes, required: false) %>
  </div>
  <div class="create-display-form">
    <%= f.hidden_field(:project_id, value: @project_id.to_s) %>
  </div>

    <%= f.submit("create") %>
<% end %>
