<div class="modal-header">
<div class="panel panel-info">
<div class="panel-heading">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="userLoginModalLabel">SCALe: Login</h4>
</div>
</div>
</div>
<div hidden id="login-form-msg" class="alert alert-danger"></div>
<%= form_tag("/users/login-submit", :remote => true, :id => "userLoginForm") do %>
<div class="modal-body">
  <div class="row">
    <%= label_tag 'Username', nil, class: 'col-md-12 form-label' %>
  </div>
  <div class="row">
    <%= text_field_tag "user_field", nil, class: 'col-md-12' %>
  </div>
  </br>
  <div class="row">
    <%= label_tag 'Password', nil, class: 'col-md-12 form-label' %>
  </div>
  <div class="row">
    <%= password_field_tag "password_field", nil, class: 'col-md-12' %>
  </div>
  </br>
  <div class="row">
    <%= submit_tag("Log In", :class => "form-btn btn btn-primary col-md-12") %>
  </div>
</div>
<% end %>
<div class="modal-footer">
  <%= button_to 'Sign Up', users_register_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#users-register-modal', method: :get, class: 'form-btn btn btn-secondary col-md-4'}  %>
</div>
